<section class="hero is-info is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://bulma.io/assets/images/bulma-type-white.png" alt="Logo" />
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to new_entry_path, class: "button in-success" do %>
                <span>Create new entry</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div>
    <div class="container has-text-centered mb-4">
      <p class="title">
      <% if content_for(:title) %>
        <%= yield :title %>
      <% else %>
      Foodlog
      <% end %>
      </p>
      <%# <p class="subtitle">Subtitle</p> %>
    </div>
  </div>
</section>