<% content_for :title, "Foodlog" %>

<div class="columns mt-6 is-centered" id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<%# <%= link_to "New entry", new_entry_path %>
