<%= render @entry %>

<div>
  <%= link_to "EDIT", edit_entry_path(@entry) %> |
  <%= button_to "DELETE", entry_path(@entry), method: :delete, data: {
    confirm: "Are you sure?", class: "button is-gray"
  }  %>
  <div class="column">
    <!-- -->
  </div>
</div>
